<div class="d-flex justify-content-between pt-5 welcome">
  <h3>Welcome {{name}}</h3>
  {{!-- <div class="clock pt-5">YYYY/MM/DD HH:MI:SS</div> --}}
</div>
<div class="row pt-3">
  <div class="col-xl-8 col-lg-7 pb-3 box">
    <div class="row flex_column_direction">
      {{!-- <h3>X X O O</h3> --}}
      <div id="forecast-weather"></div>
      {{!-- <div>fst</div> --}}
      {{!-- <div>snd</div> --}}
    </div>
    <div class="row pt-3">
      <div class="col-lg col-md col-sm">
        <div class="card ">
          <div class="card-header">
            {{!-- <h5 class="card-title">X X O O</h5> --}}
            <h5 class="card-title">即時路況</h5>
          </div>
          <div class="card-body">
            <div id="map" style="height: 243px; width: 320px;"></div>
            {{!-- <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14880.059565918398!2d121.36944460005144!3d25.06414825625926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1szh-TW!2stw!4v1591834497114!5m2!1szh-TW!2stw"
              width="400" height="300" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            --}}

          </div>
        </div>
      </div>
      <div class="col-lg col-md col-sm">
        <div class="card ">
          <div class="card-header">
            <h5 class="rounded-top">文化一路一段/麗園一街口</h5>
            {{!-- <h5>X X O O</h5> --}}
          </div>
          <div class="card-body">
            <iframe src="http://117.56.58.1/LiveVideo.html?deviceid=48&account=dmlld2Vy&password=dmlld2Vy"
              frameborder="0"></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-lg col-md col-sm">
        <div class="card ">
          <div class="card-header">
            <h5 class="rounded-top">文化一路一段/忠孝路口</h5>
            {{!-- <h5>X X O O</h5> --}}
          </div>
          <div class="card-body">
            <iframe src="http://117.56.58.2/LiveVideo.html?deviceid=2&account=dmlld2Vy&password=dmlld2Vy"
              frameborder="0"></iframe>
          </div>
        </div>
      </div>
      <div class="col-lg col-md col-sm">
        <div class="card ">
          <div class="card-header">
            <h5 class="rounded-top">文化一路一段/國道1號南下入口</h5>
            {{!-- <h5>X X O O</h5> --}}
          </div>
          <div class="card-body">
            <iframe src="http://117.56.232.7/LiveVideo.html?deviceid=29&account=dmlld2Vy&password=dmlld2Vy"
              frameborder="0"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-5 box">
    <div class="row flex_column_direction">
      <div class="realTime-weather-section">
        {{!-- <h3>OXOX</h3> --}}
        <div id="realTime-weather"></div>
        {{!-- <div>fst</div>
        <div>snd</div> --}}
      </div>
    </div>
    <div class="row pt-3">
      <div class="col">
        <div id="traffic_board">

          <div class="card text-center mb-2">
            <div class="card-body">
              <div class="p-2 card-text grayContent">等待回報交通資訊</div>
            </div>
          </div>
        </div>
        <div class="my-3 d-flex justify-content-between">
          <button type="button" class="btn btn-primary ms-2" id="previous_page_btn" page="">Previous</button>
          <button type="button" class="btn btn-primary ms-2" id="next_page_btn" page="">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="./js/clock.js"></script>
{{!-- <script src="./js/cwbForecastWeatherAPI.js"></script> --}}
{{!-- <script src="./js/cwbRealTimeWeatherAPI.js"></script> --}}


<script src="./js/googleMap.js"></script>


<script src="./js/trafficBoard.js"></script>


<script>


  let previousPageBtn = document.getElementById("previous_page_btn");
  let nextPageBtn = document.getElementById("next_page_btn");
  let trafficBoard = document.getElementById("traffic_board");
  previousPageBtn.addEventListener("click", function () {
    board(previousPageBtn.getAttribute("page"), trafficBoard, previousPageBtn, nextPageBtn);
  })
  nextPageBtn.addEventListener("click", function () {
    board(nextPageBtn.getAttribute("page"), trafficBoard, previousPageBtn, nextPageBtn);
  })

  const body = document.addEventListener("DOMContentLoaded", init);
  function init() {
    const distsTarget = ["林口", "龜山"];
    {{!-- let w = new RealTimeWeather(
      document.querySelector("#realTime-weather"),
      distsTarget,
      APIKey
    ); --}}
    startTime();
    board(1, trafficBoard, previousPageBtn, nextPageBtn);
  }


  function test() {
    document.getElementById("carouselExampleControls").style.display = "block"
  }
</script>
<script defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaI5BVp9PApBENibhWc1jXrVmrZUKJtDk&callback=initMap">
  </script>