{{#each page.results}}
<div>{{_id}}</div>
{{/each}}
<a  
{{#if page.previous}} 
  href="/linkou/test?page={{page.previous.page}}" 
{{/if}}>previous
</a>
<a  
{{#if page.next}} 
  href="/linkou/test?page={{page.next.page}}" 
  page={{page.next.page}} 
{{/if}}>next
</a>