<div class="container pt-3">
  <div class="row">
    <div class="col-7 box">
      <div class="row">
        <h3>X X O O</h3>
        <div id="forecast-weather"></div>
      </div>
      <div class="row  pt-3">
        <div class="col">
          {{!-- <h5 class="border border-secondary rounded-top">即時路況</h5> --}}
          <h5 class="border border-secondary rounded-top h_margin">X X O O</h5>
          <iframe class="box"
              {{!-- src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14880.059565918398!2d121.36944460005144!3d25.06414825625926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1szh-TW!2stw!4v1591834497114!5m2!1szh-TW!2stw" --}}
              frameborder="0"
              allowfullscreen=""
              aria-hidden="false"
              tabindex="0"
          ></iframe>
        </div>
        <div class="col">
          {{!-- <h5 class="rounded-top">文化一路一段/麗園一街口</h5> --}}
          <h5 class="border border-secondary rounded-top h_margin">X X O O</h5>
          <iframe class="box"
              {{!-- src="http://117.56.58.1/LiveVideo.html?deviceid=48&account=dmlld2Vy&password=dmlld2Vy" --}}
              frameborder="0"
            ></iframe>
        </div>
      </div>
    </div>
    <div class="col-5 box"></div>
  </div>
</div>