<div class="d-flex justify-content-end pt-3">
  <div class="clock">YYYY/MM/DD HH:MI:SS</div>
</div>
<div class="row pt-3">
  <div class="col-7 pb-3 box">
    <div class="row pl-3 flex_direction">
      <h3>X X O O</h3>
      {{!-- <div id="forecast-weather"></div> --}}
      <div>fst</div>
      <div>snd</div>
    </div>
    <div class="row pt-3">
      <div class="col">
        <div class="border border-secondary rounded-top">
          {{!-- <h5 class="border border-secondary rounded-top">即時路況</h5> --}}
          <h5 class="pl-2">X X O O</h5>
        </div>
        <iframe class="box" {{!--
          src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14880.059565918398!2d121.36944460005144!3d25.06414825625926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1szh-TW!2stw!4v1591834497114!5m2!1szh-TW!2stw"
          --}} frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
      <div class="col">
        <div class="border border-secondary rounded-top">
          {{!-- <h5 class="rounded-top">文化一路一段/麗園一街口</h5> --}}
          <h5 class="pl-2">X X O O</h5>
        </div>
        <iframe class="box" {{!-- src="http://117.56.58.1/LiveVideo.html?deviceid=48&account=dmlld2Vy&password=dmlld2Vy"
          --}} frameborder="0"></iframe>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col">
        <div class="border border-secondary rounded-top">
          {{!-- <h5 class="border border-secondary rounded-top">即時路況</h5> --}}
          <h5 class="pl-2">X X O O</h5>
        </div>
        <iframe class="box" {{!--
          src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14880.059565918398!2d121.36944460005144!3d25.06414825625926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1szh-TW!2stw!4v1591834497114!5m2!1szh-TW!2stw"
          --}} frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
      <div class="col">
        <div class="border border-secondary rounded-top">
          {{!-- <h5 class="rounded-top">文化一路一段/麗園一街口</h5> --}}
          <h5 class="pl-2">X X O O</h5>
        </div>
        <iframe class="box" {{!-- src="http://117.56.58.1/LiveVideo.html?deviceid=48&account=dmlld2Vy&password=dmlld2Vy"
          --}} frameborder="0"></iframe>
      </div>
    </div>
  </div>
  <div class="col-5 box">
    <div class="row pl-3 flex_direction">
      <div class="realTime-weather-section">
        <h3>OXOX</h3>
        {{!-- <div id="realTime-weather"></div> --}}
        <div>fst</div>
        <div>snd</div>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col">
        <div id="traffic_board">

          <div class="card">
            <div class="card-header">
              <img class="rounded-circle" style="max-width: 30px;"
                src="https://lh3.googleusercontent.com/a-/AOh14GgV5uPp3SX0JwKNfrE1b9LBNEXPjwMHxaV-Da3G5A=s96-c" alt=""
                srcset="">
              <span>Kev</span>
            </div>
            <div class="card-body">
              <div class="card-title">
                <div class="row">
                  <div class="col-9">[07:31] 文化一路一段, 北上交流道口2wefsrgdversfdbntjdnfsgvafvA</div>
                  <span class="col-3 category_lable category_attention"style="display: inline-block;">注意</span>
                </div>
              </div>
              <p class="card-text">並行停車，雍塞</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/clock.js"></script>
<script src="/js/cwbForecastWeatherAPI.js"></script>
<script src="/js/cwbRealTimeWeatherAPI.js"></script>
<script src="/js/googleMap.js"></script>
<script>
  const body = document.addEventListener("DOMContentLoaded", init);
  function init() {
    // const APIKey = "CWB-3368DCAB-74F5-4D48-82F3-DA9B5699CE79";
    const distsTarget = ["林口", "龜山"];
    let w = new RealTimeWeather(
      document.querySelector("#realTime-weather"),
      distsTarget,
      APIKey
    );
    startTime();
    board(1);
  }


  function board(page) {
    $.ajax({
      type: "GET",
      url: "/linkou/test",
      data: { page: page },
      dataType: "json",
      contentType: "application/json; charset=utf-8",
      error: function (e) {
        console.log("error:", e);
      },
      success: function (result) {
        console.log("data:", result);
      },
    });
  }

</script>